<!DOCTYPE html>
<html lang="en">
<%- include ('partials/header') %>
<body>
    <div class="container">
    
        <%- include ('partials/nav') %>

        <% if(isAuthenticated) { %>
        <%- include ('partials/banner') %>
        <% } %>
    </div>    
<%- include ('partials/alert') %>
<%- include ('partials/footer') %>
</body>
</html>