<!DOCTYPE html>
<html lang="en">
<%- include ('partials/header') %>
<body>
    <div class="container">
    
        <%- include ('partials/nav') %>
        
        <% posts.forEach(post => { %>

            <div class="card mb-4">
                <h5 class="card-header"><%= post.title %></h5>
                <div class="card-body">
                  <p class="card-text"><%= post.body %></p>
                  <p class="card-text text-muted"><%= post.snippet %></p>
                  <a href="/submit/update/<%= post._id %>" class="btn btn-primary">Update Post</a>
                  <a href="/submit/delete/<%= post._id %>" class="btn btn-secondary">Delete Post</a>
                </div>
            </div>

        <% }) %>

    </div>    
<%- include ('partials/footer') %>
</body>
</html>